.map_marker_div{
	position: absolute;
	width:36px;
	height:36px;
	

}
.busy {
  margin-top: 31px;
  margin-bottom: 6.72px;
	margin-left: 6px;
	margin-right: 19.88px;

  display: block;
  font-weight: 600;
  font-size: 12px;
  height: auto;
  line-height: 1;
  text-align: center;
  color: #fff;

}
.busy_red {
	z-index: 8;
  /*background: url(/images/marker/red/cafe-marker.svg) no-repeat;*/
  background: url(/images/marker/marker-level3.svg) no-repeat;

}
.busy_yellow {
	z-index: 9;
  /*background: url(/images/marker/yellow/cafe-marker.svg) no-repeat;*/
  background: url(/images/marker/marker-level2.svg) no-repeat;
}

.busy_green {
	z-index: 10;
  /*background: url(/images/marker/green/cafe-marker.svg) no-repeat;*/
  background: url(/images/marker/marker-level1.svg) no-repeat;
}
.busy_grey {
  /*background: url(/images/marker/gray/cafe-marker.svg) no-repeat;*/
  background: url(/images/marker/marker-level0.svg) no-repeat;


}

.franchise_icon {
	position:absolute;
	left: 22px;
	top: -9px;
}

.franchise_img {
	width: 22px;
	height: 22px;
}

.icon_div { 
	position:absolute;
	
  background-size: contain;
	width: 24px;
	height: 24px;
	line-height: 24px;
	position: absolute;

	text-align: center;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
	left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%); 
}

.busy_text {

	color: white;
	font-weight: 900;
	font-size: 10px;
	margin: 0;
}

.busy_percent {

	color: white;
	font-weight: 900;
	font-size: 12px;
    margin: 0;
    padding-top: 2px;

}

.percent {
	color: white;
	font-size: 8px;
	margin: 0;
}

.ma_marker_div{
  position: absolute;
	cursor: pointer;
	
	background-color: black;
  background-size: 400px 450px;
  -webkit-background-size: 400px 450px;
  z-index: 10;
}

.ma_marker_div .map_group .map_marker .ico {
    position: absolute;
    background-size: 400px 450px;
    -webkit-background-size: 400px 450px;
    z-index: 10;
}


.gps_div {
	position: absolute;
	z-index: 100;
	width: 22px;
	height: 22px;
}

.pulse {
	z-index: 100;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #ffffff00;
 	cursor: pointer;
  box-shadow: 0 0 0 rgb(255, 0, 0);
  animation: pulse 1.7s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0,255, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 255, 0);
	}
}

